/venv
**/.env
/api/api/__pycache__
/datacraft/datacraft/__pycache__
/datacraft/theme/__pycache__
/datacraft/apps/core/__pycache__
/datacraft/apps/core/migrations/__pycache__
/datacraft/apps/core/templates/core/__pycache__
/datacraft/apps/modeling/__pycache__
/datacraft/apps/modeling/migrations/__pycache__
/datacraft/apps/modeling/templates/modeling/__pycache__
/datacraft/apps/monitoring/__pycache__
/datacraft/apps/monitoring/migrations/__pycache__
/datacraft/apps/monitoring/templates/monitoring/__pycache__
/datacraft/apps/pipelines/__pycache__
/datacraft/apps/pipelines/migrations/__pycache__
/datacraft/apps/pipelines/templates/pipelines/__pycache__
/datacraft/apps/queries/__pycache__
/datacraft/apps/queries/migrations/__pycache__
/datacraft/apps/queries/templates/queries/__pycache__
/datacraft/apps/sources/__pycache__
/datacraft/apps/sources/migrations/__pycache__
/datacraft/apps/sources/templates/sources/__pycache__
/datacraft/apps/streaming/__pycache__
/datacraft/apps/streaming/migrations/__pycache__
/datacraft/apps/streaming/templates/streaming/__pycache__
/datacraft/apps/transformations/__pycache__
/datacraft/apps/transformations/migrations/__pycache__
/datacraft/apps/transformations/templates/transformations/__pycache__


/APIs/Flow_Forge/venv

/APIs/Line_Follower_Robot/venv_LFR
/APIs/Line_Follower_Robot/__pycache__

/APIs/Random_Box_Distribution_Robot_Center/venv
/APIs/Random_Box_Distribution_Robot_Center/__pycache__

/APIs/Robotic_Distribution_Center/venv
/APIs/Robotic_Distribution_Center/__pycache__
